<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.facebook.com/akshay.pratapsingh.716195"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>
      <a href="https://www.linkedin.com/in/akshay-pratap-singh-357918268?utm_source=share_via&utm_content=profile&utm_medium=member_android"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://www.instagram.com/thakur_akshay__02?igsh=MXU5OTR4aXh0ZHpxZw%3D%3D"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; Wanderlust Private Limited </div>
    <div class="f-info-links">
      <a href="https://www.linkedin.com/in/akshay-pratap-singh-357918268?utm_source=share_via&utm_content=profile&utm_medium=member_android">Privacy</a>
      <a href="https://www.linkedin.com/in/akshay-pratap-singh-357918268?utm_source=share_via&utm_content=profile&utm_medium=member_android">Terms</a>
    </div>
  </div>
</footer>
